{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - La boutique francaise{% endblock %}

{% block content %}

    <h1>Modifier mon mot de passe</h1>
    <a href="{{ path('account_password') }}">Retourner à mon compte </a><br/>
    <hr/>
{#    Ajout de la notification dans le twig #}
    {% if (notification) %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}


{{ form(form) }}

    <hr/>

{% endblock %}
